/* For the "inset" look only */
html {
    overflow: auto;
}
body {
    position: absolute;
    margin: 0px;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    padding: 0px; 
    overflow-y: scroll;
    /* background-image: url("resources\Naked_Wedding_Cake.png"); */
   
}


/* Navigation Bar */

ul {
    list-style-type: none;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    font-family: 'Jura', sans-serif;
    font-size: large;
    text-align: center;
    vertical-align: middle;
    line-height: 42px;  
}

li a {
    display: block;
    color: white;
    text-align: center;
    /* padding: 0px 42px; */
    text-decoration: none;
}

    /* The hero image */
.hero-image {
    /* The image used */
    background-image: url(resources/Naked_Wedding_Cake.png);

    /* Set a specific height */
    height: 50%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}